# API Keys and passwords #
##########################
config.cfg

# Album art #
#############
assets/albumart/*.*

# Songs #
#########
assets/songs

# Log file #
############
assets/includes/cache.log
ip.log
