* {
	margin:0;
}

html, body {
	height: 100%;
	background-color:rgba(40,52,59,1);
}

.content {
	min-height:600px;
	height: 600px;
	display:table;	
	overflow:auto;
	margin: 0 auto;
	
}

.emptyQueue {
	color:#ffffff;
}

.header {
	height:120px;
	nd: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.topNav {
	margin-top:-15px;
	margin-left:0;
}

.topNav li  {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}

.topNav li:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
	cursor:default;
}
.topNav li:active {
	position:relative;
	top:1px;
	cursor:default;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.footer {
	clear:both;
	position:relative;
	z-index:10;
	height:3em;
	margin-top:auto;
}

.songs li {
	list-style-type:none;
	height:62px;
	padding:2px 0 2px 0;
	border:1px solid;
	margin-bottom:4px;
	width:400px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#CEE4F2;
	border-color:#00426E;
	overflow:hidden;
	text-overflow:ellipsis;
}

.results .songs li:hover {
	background-color:#e4e4e4;
	cursor:pointer;
}

.albumArt {
	width:60px;
	height:60px;
	float:left;
	padding:1px 10px 0 3px;
}

.songs .songArtist {
	white-space:nowrap;
	oveflow:hidden;
	text-overflow:ellipsis;
}
.songs .songTitle {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.songs .songAlbum {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.songs li form {
	display:inline;
	float:right;
	padding-right:6px;
}

.songs li form input {
	margin-top:-20px;
}

.songTitle:before {
	content: "Title: ";
	font-weight:900;
}

.songArtist:before {
	content: "Artist: ";
	font-weight:900;
}

.songAlbum:before {
	content: "Album: ";
	font-weight:900;
}

.playing {
	display:block;
	margin:0 auto;
	color:#ffffff;
	font-weight:900;
	text-align:center;
}
.playing li {
	float:left;
}
.playing .songTitle:before {
	content: "";
}
.playing .songAlbum {
	display:inline;
}

.playing ul {
	list-style-type:none;
	align:center;
	float:top;
	margin-top:20px;	
}

.playing li {
	
}

.playing img {
	float:bottom;
	width:400px;
	height:400px;
}
