* {
	margin:0;
}

html, body {
	background-color:rgba(40,52,59,1);
	color:#ffffff;
}

.searchtitle {
	font-size: small;
}

.content {
	padding-top:120px;
	color:#ffffff;
	display:table;	
	margin: auto auto auto;
	 -webkit-box-flex: 1;  -moz-box-flex: 1; position: relative; z-index: 5;
	padding-bottom:100px;
	margin-bottom:50px;
}

.footer {
	height:35px;
	padding-top:0.5em;
	padding-bottom:5em;
	background-color:rgba(37,49,56,1);
	position:fixed;
	bottom:0px;
	clear:both;
	z-index:10;
	margin: auto auto;
	width:100%;
	
}

.emptyQueue {
	color:#ffffff;
}

.header {
	width:100%;
	margin-bottom:15px;
	z-index:6;
	top:0px;
	position:fixed;
	height:120px;
	nd: rgb(181,189,200); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.topNav {
	position:fixed;
	margin-top:100px;
	margin-left:0;
	z-index:99;
}

.topNav li  {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}
.topNav, .content, .footer, body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.topNav li:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
	cursor:default;
}
.topNav li:active {
	position:relative;
	top:1px;
	cursor:default;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.songs li {
	list-style-type:none;
	height:62px;
	padding:2px 0 2px 0;
	border:1px solid;
	margin-bottom:4px;
	width:400px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#CEE4F2;
	border-color:#00426E;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#000000;
}

.results .songs li:hover {
	background-color:#e4e4e4;
	cursor:pointer;
}

.albumArt {
	width:60px;
	height:60px;
	float:left;
	padding:1px 10px 0 3px;
}

.songs .songArtist {
	white-space:nowrap;
	oveflow:hidden;
	text-overflow:ellipsis;
}
.songs .songTitle {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.songs .songAlbum {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.songs li form {
	display:inline;
	float:right;
	padding-right:6px;
}

.songs li form input {
	margin-top:-20px;
}

.songs .songTitle:before {
	content: "Title: ";
	font-weight:900;
}

.songs .songArtist:before {
	content: "Artist: ";
	font-weight:900;
}

.songs .songAlbum:before {
	content: "Album: ";
	font-weight:900;
}

form.search {
	/*width: 400px;*/
}

.playing {
	display:block;
	margin:0 auto;
	color:#ffffff;
	text-align:center;
}

.playing .songAlbum, .playing .songTitle, .playing .songArtist {
	display:inline;
	font-weight:900;
}

.playing img {
	float:bottom;
	width:400px;
	height:400px;
}
input[type=text].search{
    background-image: url('input-search.png') no-repeat top left;
    border: none;
    width: 100%; /* 682 */
    height: 35px; /* 70 */
    float: left;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
	margin-bottom: 12px;
}
input[type=text].twshare{
    background-image: url('input-search.png');
    border: none;
    width: 120px;
    height: 17px;
    font-size: 10pt;
    text-align: center; 
}
input[type=submit].search{
	background: url('search.png') no-repeat top left;
    border: none;
    width: 43px;
    height: 37px;
    float: left;
    cursor: pointer;
}

.maximize {
	background-image: url('full_screen.png');
	width:32px;
	height:32px;
	margin-left:auto;
	display:block;
	float:right;
}
